html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

:root{
	--font-m: "Montserrat", sans-serif;
	--font-r: "Roboto", serif;
	--red: #ff4e50;
	--white: #fff;
	--dark: #333;
}

body{
	background-color: var(--white);
	padding: 0;
	margin: 0 auto;
}

.head{
	min-height: 540px;
	background-image: url(../img/background-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.head-wrap{
	padding-top: 20px;
}

.container{
	text-align: center;
	min-width: 320px;
}

.wrap-button{
	margin-bottom: 110px;
	padding-top: 10px;
}

.white--button{
	font-family: var(--font-m);
	font-weight: 700;
	font-size: 14px;
	color: var(--white);
	border: 2px solid transparent;
	background-color: transparent;
	padding: 8px 17px;
	text-decoration: none;
}

.log-button:hover,
.sign-button:hover{
	border: 2px solid var(--white);
	border-radius: 20px;
	background-color: transparent;
	padding: 8px 17px;
}

.log-button:focus,
.sign-button:focus{
	border: 2px solid var(--white);
	border-radius: 20px;
	background-color: transparent;
	padding: 8px 17px;
}

.head-menu{
	font-size: 0;
}

.logo{
	display: inline-block;
	margin-bottom: 32px;
}

.head-title,
.head-subtitle{
	font-family: var(--font-m);
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: var(--white);
	line-height: 1.2;
	margin: 0;
}

.head-subtitle{
	margin-bottom: 12px;
}

.head-description{
	font-family: var(--font-r);
	font-size: 18px;
	color: var(--white);
	margin: 0 40px 17px 40px;
	padding: 0 10px 0 10px;
}

.red--button{
	width: 280px;
	text-align: center;
	font-family: var(--font-m);
	font-weight: 700;
	font-size: 14px;
	border: 2px solid var(--red);
	border-radius: 20px;
	background-color: var(--red);
	color: var(--white);
	padding: 8px 40px;
	cursor: pointer;
}

.head-button:hover{
	background-color: var(--white);
	color: var(--red);
}

.head-button:focus{
	background-color: var(--white);
	color: var(--red);
}

.foot-button:hover{
	background-color: transparent;
	color: var(--red);
}

.foot-button:focus{
	background-color: transparent;
	color: var(--red);
}

.main-title{
	font-family: var(--font-m);	
	font-size: 22px;
	padding: 60px 20px 0 20px;
	margin: 0;
	margin-bottom: 14px;
}

.main-list{
	max-width: 450px;
	padding: 0;
	margin: 0 auto;
}

.main-item{
	text-align: center;
	padding: 0 55px 0 55px;
}

.img-wrap{
	background-repeat: no-repeat;
	position: relative;
	width: 122px;
	height: 122px;
	margin: 0 auto;
	margin-bottom: 42px;
}

.item-icon{
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 41px;
	width: 41px;
}

.item-1{
	background-image: url(../img/icon-tv.png);
}

.item-2{
	background-image: url(../img/icon-chemical.png);
}

.item-3{
	background-image: url(../img/icon-tea.png);
}

.item-4{
	background-image: url(../img/icon-fly.png);
}

.item-link{
	text-decoration: none;
}

.item-img{
	margin: 0 auto;
	width: 122px;
	height: 122px;
	overflow: hidden;
	border-radius: 50%;
}

.item-name{
	font-family: var(--font-m);
	font-weight: 700;
	font-size: 14px;
	color: var(--dark);
	margin: 0;
	padding-top: 18px;
}

.item-description{
	font-family: var(--font-r);
	font-size: 14px;
	line-height: 1.2;
	color: #858585;
	margin-bottom: 30px;
}

.foot-button{
	margin-bottom: 56px;
}
























