@media (min-width: 748px){
	.head{
		background-image: url(../img/background-tablet.jpg);
	}
	
	.head-menu{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	
	.wrap-button{
		margin-right: 38px;
	}
	
	.logo{
		padding-top: 10px;
		margin-left: 38px;
	}

	.head-title{
		font-size: 52px;
		padding-top: 48px;
	}
	
	.head-subtitle{
		font-size: 52px;
		margin-bottom: 26px;
	}
	
	.head-description{
		font-size: 24px;
		margin-bottom: 32px;
	}
	
	.red--button{
		width: 246px;
		padding: 10px 8px;
	}
	
	.head-button{
		margin-bottom: 232px;	
	}
	
	.main-title{
		margin-bottom: 32px;
	}
	
	.list-wrap{
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	
	.main-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 492px;
	}
	
	.item-order-2{
		order: 3;
	}

	.item-order-3{
		order: 2;
	}

	.item-order-4{
		order: 4;
	}

	.main-item{
		width: 48%;
		padding: 0 10px 0 10px;
	}
	
	.foot-button{
	margin-bottom: 72px;
}
}
@media (min-width: 942px){
	.head{
		background-image: url(../img/background-desktop-start.jpg);
	}

	.head-menu{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin: 0 auto;
	}
	
	.container{
		max-width: 942px;
		margin: auto;
	}

	.wrap-button{
		margin-right: 12px;
	}
	
	.logo{
		margin-left: 12px;
	}
		
	.main-item{
		width: 25%;
		padding: 0 10px 0 10px;
	}
	
	.main-list{
		flex-wrap: nowrap;
		margin: 0 auto;
		max-width: 942px;
	}
	
}
@media (min-width: 1440px){
	.head{
		background-image: url(../img/background-desktop.jpg);
	}

}	
